<div [formGroup]="form">
  <label><input type="checkbox" formControlName="terms" /> I hereby accept the CanWork
    <a href="assets/docs/canwork-terms-and-conditions.pdf" download="CanWork terms and conditions" target="_blank">terms
      and conditions</a>
  </label>
</div>
