.form-color {
  display: inline-block;
  border: none !important;
}

.custom-form-container {
  max-width: 800px;
  width: 100%;
  text-align: left;
  min-height: 30em;
  padding: 0 2em;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .form-container {
    width: auto;
  }
}

.next-button {
  float: right;
}

input[type="color"] {
  -webkit-appearance: none;
  width: 50px;
  height: 30px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0px;
}

input[type="color"]::-webkit-color-swatch {
  border: 1px solid #e8e8e8;
  border-radius: 2px;
}

.form-color {
  display: inline-block;
  border: none !important;
}
