<input list="tagsList" class="form-control" placeholder="e.g. HTML, CSS..." [class.invalid]="acceptedTags.length <= 0"
  (keyup.enter)="onTagEnter()" [(ngModel)]="tagInput" [ngModelOptions]="{standalone: true}" (change)="onTagChange()">


<small class="text-primary text-wrap" *ngIf="tagSelectionInvalid">You can only add 6 tags to a project (up to 14
  characters long)
</small>

<app-skill-tag *ngFor="let tag of acceptedTags" class="skill-tag mr-5 pointer" (click)="removeTag(tag)" [skill]="tag"></app-skill-tag>

<datalist id="tagsList">
  <option *ngFor="let tag of skillTagsList" value="{{tag}}">
</datalist>
