<div class="container back-button-container">
  <div class="row">
    <div class="col-md-12">
      <button (click)="goBack()" class="text-primary" style="border:none; background-color:transparent; position:absolute; z-index: 11; cursor: pointer;">
        <i class="ti-angle-left text-default fs-24"></i>
      </button>
    </div>
  </div>
</div>
