.thesaas-sections-split .section,
.thesaas-sections-split .main-content .topbar,
.thesaas-sections-split .main-content .site-footer {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
  margin: 30px 50px 100px;
}

.thesaas-sections-split .main-content .topbar {
  position: static;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

@font-face {
  font-family: canya;
  src: url(/assets/fonts/canya.eot?4994838#iefix) format(embedded-opentype), url(/assets/fonts/canya.woff2?4994838) format(woff2), url(/assets/fonts/canya.woff?4994838) format(woff), url(/assets/fonts/canya.ttf?4994838) format(truetype), url(/assets/fonts/canya.svg?4994838#canya) format(svg);
  font-weight: 400;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  position: relative;
  top: -5px;
  font-family: canya;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  vertical-align: middle;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone-1:before {
  content: '\e800';
}

.icon-search:before {
  content: '\e802';
}

.icon-seo:before {
  content: '\e803';
}

.icon-video-editor:before {
  content: '\e804';
}

.icon-find:before {
  content: '\e806';
}

.icon-microphone:before {
  content: '\e807';
}

.icon-hire:before {
  content: '\e808';
}

.icon-designers:before {
  content: '\e809';
}

.icon-empty-star:before {
  content: '\e80b';
}

.icon-it-network:before {
  content: '\e80c';
}

.icon-location-1:before {
  content: '\e80d';
}

.icon-location-2:before {
  content: '\e80e';
}

.icon-finance:before {
  content: '\e80f';
}

.icon-financial-experts:before {
  content: '\e810';
}

.icon-empty-heart:before {
  content: '\e811';
}

.icon-heart-fill:before {
  content: '\e813';
}

.icon-star-fill:before {
  content: '\e814';
}

.icon-inbox:before {
  content: '\e81b';
}

.icon-writers:before {
  content: '\e818';
}

.icon-accountants:before {
  content: '\e819';
}

.icon-creatives:before {
  content: '\e81a';
}

.icon-chat:before {
  content: '\e820';
}

.icon-work:before {
  content: '\e81d';
}

.icon-customer-service:before {
  content: '\e81e';
}

.icon-avatar:before {
  content: '\e81f';
}

.icon-virtual-assistants:before {
  content: '\e821';
}

.icon-illustrators:before {
  content: '\e822';
}

.icon-test:before {
  content: '\e823';
}

.icon-designers-and-creatives:before {
  content: '\e824';
}

.icon-mobile-development:before {
  content: '\e825';
}

.icon-web-development:before {
  content: '\e826';
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #37404d;
  letter-spacing: 0;
  padding: 0;
}

.flex-icon i {
  font-size: 40px;
}

.flex-all span {
  margin-top: 8px;
}

.flex-all i {
  margin-top: 10px;
  font-size: 32px !important;
}

#desk {
  position: relative;
  left: 0;
  width: 580px;
  height: 370px;
}

.form-desk {
  width: 400px;
  height: 46px;
}

#consult {
  width: 680px;
  height: 580px;
}

#portfolio {
  width: 100%;
  height: 410px;
}

.sub-header-menu {
  height: 50px;
}

.btn-canya-gradient {
  background-image: linear-gradient(41deg, #62E7FF 0%, #33CAFF 100%);
}

.btn-canya-chat {
  background-image: linear-gradient(41deg, #62E7FF 0%, #33CAFF 100%);
  border-radius: 64px;
}

.btn-canya-tools {
  background-image: linear-gradient(122deg, #00FFCC 0%, #33ccff 93%);  
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0) !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-canya-bordered {
  background-image: transparent;
  border: 1px solid transparent;
  border-image: linear-gradient(122deg, #00FFCC 0%, #33ccff 93%);
  border-image-slice: 1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.canya-seach-bar{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  border: none !important;
  border-radius: 5px;
} 
.canya-search-input-btn{ 
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.canya-search-input-btn img{
  height:24px;
  widows: 24px;
}
.canya-search-input{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

[border-64] {
  border-radius: 64px;
}

[border-none] {
  border: none;
}

[cursor-pointer] {
  cursor: pointer;
}

.badge-round {
  margin-top: -8px;
  border-radius: 50%;
  padding: 4px;
}

.badge-notification {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 4px;
  position: absolute;
  top: 10px;
}
.back-button-container{
  min-height: 40px;
}
.banner-canya {
  position: fixed;
  right: 45px;
  bottom: 30px;
  visibility: visible;
  z-index: 2147483639;
  background: transparent;
  border: 0;
  float: left;
  margin-right: -10px;
  backface-visibility: hidden;
  opacity: 1;
  padding: 10px 10px 0 0;
}

.banner-canya-close {
  position: absolute;
  top: -30px;
  right: -20px;
  text-decoration: none;
  color: #000;
  font-size: 40px;
  z-index: 3147483639;
  cursor: pointer;
  padding: 2px 7px;
}

.banner-canya-close:hover {
  color: #666;
}

.thesaas-sections-split .main-content .topbar .topbar-toggler,
.thesaas-sections-split.topbar-reveal .main-content .topbar-nav {
  display: none;
}

#airport,
#home,
#hand {
  width: 580px;
  height: 480px;
}

.btn-canya-tools:hover,
.btn-canya-bordered:hover {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1) !important;
}

[border-5],
.banner-canya img {
  border-radius: 5px;
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
  .thesaas-sections-split .section,
  .thesaas-sections-split .main-content .site-footer {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 30px 0 100px;
  }
}
 

@media (max-width: 376px) {
  .topbar-right {
    height: 76px !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  #desk {
    position: relative;
    left: -20px;
    width: 110%;
    height: 170px;
  }
  .form-desk {
    width: 94%;
    height: 46px;
  }
  .flex-icon i {
    font-size: 34px;
  }
  #consult {
    position: relative;
    top: -20px;
    width: 110%;
    height: 360px;
  }
  #portfolio {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 260px;
  }
  .explore-margin {
    margin-top: 0;
  }
  #airport,
  #home,
  #hand {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #desk {
    position: relative;
    left: 0;
    width: 110%;
    height: 270px;
  }
  .form-desk {
    width: 94%;
    height: 46px;
  }
  .flex-icon i {
    font-size: 34px;
  }
  #consult {
    position: relative;
    top: -20px;
    width: 110%;
    height: 360px;
  }
  #airport {
    position: relative;
    top: 0;
    left: 0;
    width: 110%;
    height: 360px;
  }
  #portfolio {
    width: 110%;
    height: 260px;
  }
  .explore-margin {
    margin-top: 0;
  }
  #home,
  #hand {
    width: 110%;
    height: 360px;
  }
}
