<section id="user-reviews" class="card p-3 mt-20" *ngIf="user && reviews">
  <div class="row">
    <div class="col-6">
      <h5 class="mb-0">REVIEWS</h5>
    </div>
    <div class="col-6">
      <star-rating class="float-right" [starType]="'svg'" [labelText]="'(' + user.rating.count + ')'" labelPosition="right"
        [showHalfStars]="true" staticColor="ok" [readOnly]="true" [step]="0.5" [rating]="user.rating.average"></star-rating>
    </div>
  </div>
  <article *ngFor="let review of reviews" class="row mt-3">
    <div class="col-6">
      <b>{{review.reviewerName}}</b>
    </div>
    <div class="col-6">
      <star-rating class="float-right" [starType]="'svg'" size="small" showHalfStars="true" staticColor="ok" [readOnly]="true"
        [rating]="review.rating" [step]="0.5"></star-rating>
    </div>
    <div class="col-12">
      <p class="mb-0">{{ review.message }}</p>
    </div>
    <div class="col-12">
      <small>
        {{getReviewLabel(review)}}
      </small>
    </div>
  </article>
</section>
