@import "styles.scss";

.overlay {
  background-color: rgba(black, 0.7);
  overflow-y: scroll;
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.profile-pic {
  display: inline-block;
  position: relative;

  >span {
    position: absolute;
    color: white;
    width: 100%;
    bottom: 0;

    &:hover {
      cursor: pointer;
    }
  }

  @include circle-headshot;
}

#profile-edit-component {
  margin-top: 10vh;
  background-color: white;
  padding: 20px 40px;
  border-radius: 5px;
  border: none;
  z-index: 1015;

  header {
    h4 {
      text-transform: uppercase;
    }
  }
}


#close-profile-edit-nav {
  position: absolute;
  text-align: right;
  color: white;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;

  .icon-close {
    font-size: 35px;
  }
}

input[type="color"] {
  -webkit-appearance: none;
  width: 50px;
  height: 30px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0px;
}

input[type="color"]::-webkit-color-swatch {
  border: 1px solid #e8e8e8;
  border-radius: 2px;
}

.form-color {
  display: inline-block;
  border: none !important;
}

.toggler-div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1005;
}
