<div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper py-5">
      <div class="swiper-slide" data-swiper-slide-index="0">
        <a href="https://www.bountysource.com" target="_blank">
          <img src="assets/img/BannerBountySource.png" alt="Bounty Source" style="border-radius: 5px;">
        </a>
      </div>
      <div class="swiper-slide" data-swiper-slide-index="1">
        <a href="https://t.me/canyacoin" target="_blank">
          <img src="assets/img/BannerCommunity.png" alt="CanYa Community" style="border-radius: 5px;">
        </a>
      </div>
      <div class="swiper-slide" data-swiper-slide-index="2">
        <a [routerLink]="['/tools']">
          <img src="assets/img/BannerCanInvoice.png" alt="CanInvoice by CanYa" style="border-radius: 5px;">
        </a>
      </div>
      <!--
      <div class="swiper-slide" data-swiper-slide-index="3">
        <a [routerLink]="['/tools']">
          <img src="assets/img/BannerCanYa25.png" alt="CanYa25 by CanYa" style="border-radius: 5px;">
        </a>
      </div>
      -->
    </div>
  </div>