<div *ngIf="userModel" class="card mb-20 p-20" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px; min-height: 10rem">
  <div class="row">
    <div class="col-sm-10" id="about-card-title">
      <h5>ABOUT ME</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" id="about-card-bio">
      <p>{{ userModel.description }}</p>
    </div>
  </div>
</div>
