/*
 * botui 0.3.4
 * A JS library to build the UI for your bot
 * https://botui.org
 *
 * Copyright 2017, Moin Uddin
 * Released under the MIT license.
*/

a.botui-message-content-link:focus {
  outline: thin dotted
}

a.botui-message-content-link:focus:active,
a.botui-message-content-link:focus:hover {
  outline: 0
}

form.botui-actions-text {
  margin: 0
}

button.botui-actions-buttons-button,
input.botui-actions-text-input {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline
}

button.botui-actions-buttons-button::-moz-focus-inner,
input.botui-actions-text-input::-moz-focus-inner {
  border: 0;
  padding: 0
}

button.botui-actions-buttons-button {
  cursor: pointer;
  -webkit-appearance: button
}

.botui-app-container {
  width: 100%;
  height: 100%;
  line-height: 1
}

@media (min-width:400px) {
  .botui-app-container {
    width: 400px;
    height: 500px;
    margin: 0 auto
  }
  .bot-wrapper {
    margin: 0 1%;
  }
}

.botui-container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 440px;
}

.botui-message {
  min-height: 20px
}

.botui-message-content {
  width: auto;
  max-width: 85%;
  display: inline-block
}

.botui-message-content.human {
  float: right
}

.botui-message-content iframe {
  width: 100%
}

.botui-message-content-image {
  margin: 5px 0;
  display: block;
  max-width: 200px;
  max-height: 200px
}

.botui-message-content-link {
  text-decoration: underline
}

.botui-actions-buttons-button+.botui-actions-buttons-button {
  margin-left: 10px
}

.botui-container {
  font-size: 14px;
  background-color: #fff;
  font-family: Montserrat, HelveticaNeueLight, HelveticaNeue-Light, "Helvetica Neue Light", HelveticaNeue, "Helvetica Neue", Helvetica, Tahoma, Geneva, Arial, sans-serif;
}

.botui-messages-container {
  padding: 5px 10px;
}

.botui-actions-container {
  padding: 5px 10px;
}

.botui-message {
  min-height: 30px;
}

.botui-message-content {
  padding: 7px 13px;
  border-radius: 15px;
  color: #595a5a;
  background-color: #ebebeb;
  margin-top: 5px;
}

.botui-message-content.human {
  color: #f7f8f8;
  background-color: #919292
}

.botui-message-content.text {
  line-height: 1.3;
  font-weight: 400;
  overflow: hidden;
}

.botui-message-content.loading {
  background-color: rgba(206, 206, 206, .5);
  line-height: 1.3;
  text-align: center
}

.botui-message-content.embed {
  padding: 5px;
  border-radius: 5px
}

.botui-message-content-link {
  color: #919292
}

.botui-actions-text-input {
  border: 0;
  outline: 0;
  border-radius: 0;
  padding: 5px 7px;
  font-family: Montserrat, HelveticaNeueLight, HelveticaNeue-Light, "Helvetica Neue Light", HelveticaNeue, "Helvetica Neue", Helvetica, Tahoma, Geneva, Arial, sans-serif;
  ;
  background-color: transparent;
  color: #595a5a;
  border-bottom: 1px solid #919292
}

.botui-actions-text-submit {
  color: #fff;
  width: 30px;
  padding: 5px;
  height: 30px;
  line-height: 1;
  border-radius: 50%;
  border: 1px solid #33ccff;
  background: #33ccff;
}

.botui-actions-buttons-button {
  border: 0;
  color: #fff;
  line-height: 1;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 15px;
  border-radius: 5px;
  font-family: Montserrat, HelveticaNeueLight, HelveticaNeue-Light, "Helvetica Neue Light", HelveticaNeue, "Helvetica Neue", Helvetica, Tahoma, Geneva, Arial, sans-serif;
  ;
  background: #33ccff;
  box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, .25)
}

.slide-fade-enter-active {
  transition: all .3s ease
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(-10px)
}

.dot {
  width: .5rem;
  height: .5rem;
  border-radius: .5rem;
  display: inline-block;
  background-color: #919292
}

.dot:nth-last-child(1) {
  animation: loading .6s .3s linear infinite
}

.dot:nth-last-child(2) {
  animation: loading .6s .2s linear infinite
}

.dot:nth-last-child(3) {
  animation: loading .6s .1s linear infinite
}

@keyframes loading {
  0% {
    transform: translate(0, 0);
    background-color: #ababab
  }
  25% {
    transform: translate(0, -3px)
  }
  50% {
    transform: translate(0, 0);
    background-color: #ababab
  }
  75% {
    transform: translate(0, 3px)
  }
  100% {
    transform: translate(0, 0)
  }
}

.botui-container,
.botui-messages-container {
  background: transparent;
}

.human.botui-message-content.text {
  background: white;
  color: #33ccff;
}

.botui-message-content {
  font-size: 21px;
  font-size: 1rem;
  font-family: Montserrat, HelveticaNeueLight, HelveticaNeue-Light, "Helvetica Neue Light", HelveticaNeue, "Helvetica Neue", Helvetica, Tahoma, Geneva, Arial, sans-serif;
  background: #33ccff;
  color: white;
}

.botui-messages-container {
  overflow-y: hidden;
}

.botui-actions-buttons-button {
  background-color: white;
  font-size: 21.599px;
  font-size: 1.2rem;
  font-family: Montserrat, HelveticaNeueLight, HelveticaNeue-Light, "Helvetica Neue Light", HelveticaNeue, "Helvetica Neue", Helvetica, Tahoma, Geneva, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  border: solid 1px #33ccff;
  color: #33ccff;
}

.botui-actions-buttons-button:not(:focus) {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.botui-actions-text-input {
  color: #595a5a;
  font-size: 21.599px;
  font-size: 1.2rem;
  border-bottom: solid 2px #33ccff;
  font-family: Montserrat, HelveticaNeueLight, HelveticaNeue-Light, "Helvetica Neue Light", HelveticaNeue, "Helvetica Neue", Helvetica, Tahoma, Geneva, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out
}

.botui-actions-text-input:not(:focus) {
  font-style: italic;
}

.botui-action-text-icon {
  color: #33ccff;
}

.from-me {
  position: relative;
  color: #595a5a;
  background: #ebebeb;
  border-radius: 25px;
  float: right;
}

.from-bot {
  position: relative;
  background: #33ccff;
  border-radius: 25px;
  color: white;
  float: left;
}

#scroll-cover {
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
}

.cover1-box {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #33ccff;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin: 8px;
}

.cover1-wave {
  --animation-time1: 23000ms;
  --animation-time2: 25000ms;
  --animation-time3: 27000ms;
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #33ccff;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -70px;
  -webkit-transform-origin: 50% 48%;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift var(--animation-time1) infinite linear;
  animation: drift var(--animation-time1) infinite linear;
}

.cover1-wave.-three {
  -webkit-animation: drift var(--animation-time2) infinite linear;
  animation: drift var(--animation-time2) infinite linear;
}

.cover1-wave.-two {
  -webkit-animation: drift var(--animation-time3) infinite linear;
  animation: drift var(--animation-time3) infinite linear;
  opacity: .1;
  background: yellow;
}

.cover1-box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ee88aa), color-stop(80%, rgba(221, 238, 255, 0)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to bottom, #ee88aa, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
  z-index: 11;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.cover1-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: Montserrat, HelveticaNeueLight, HelveticaNeue-Light, "Helvetica Neue Light", HelveticaNeue, "Helvetica Neue", Helvetica, Tahoma, Geneva, Arial, sans-serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: .3em;
}

@-webkit-keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.cover2-box {
  width: 150px;
  height: 150px;
  display: block;
  position: relative;
  /* background: #c9ffad; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  color: white;
  border-radius: 5px;
  border: 1px solid #33ccff;
  /* -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2); */
  /* background: #fbfcee; */
  overflow: hidden;
  margin: 8px;
}
