<div class="custom-form-container">
  <form [formGroup]="profileForm" class="form validate" novalidate>
    <fieldset>
      <div class="text-center mb-50">
        <h3>Complete your profile</h3>
      </div>
      <div>
        <p class="mb-40">
          <app-v-stepper [steps]="stepperSteps" [currentStep]="currentStep"></app-v-stepper>
        </p>
        <div *ngIf="currentStep.name == 'professionalInfo'">
          <div class="form-group row" [class.has-danger]="profileForm.controls.ethAddress.touched && profileForm.controls.ethAddress.invalid">
            <div class="col-lg-9 col-md-9 col-sm-12">
              <label>ETH Address *</label>
              <input class="form-control" #ethAddress formControlName="ethAddress" type="text" name="ethAddress"
                placeholder="0x123...">
              <small *ngIf="profileForm.controls.ethAddress.errors && profileForm.controls.ethAddress.errors.isInvalidEthereumAddress"
                class="form-control-feedback">Please enter a valid ethereum address.</small>
              <small *ngIf="profileForm.controls.ethAddress.errors && profileForm.controls.ethAddress.errors.addressExists"
                class="form-control-feedback">This
                address is already being used in CanWork. Please use another one.
              </small>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-6 col-md-6 col-sm-8">
              <label>Service you provide *</label>
              <select class="form-control" #category formControlName="category" type="select" name="category"
                placeholder="Category" [class.invalid]="!profileForm.controls.category.valid && profileForm.controls.category.dirty">
                <option *ngFor="let cat of categories()" [value]="cat">{{cat}}</option>
              </select>
              <small *ngIf="!profileForm.controls.work.valid  && profileForm.controls.work.dirty">Please select a
                category
                from the list</small>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-9 col-md-9 col-sm-12">
              <label>Tag with relevant skills to help clients find you more easily.</label>
              <app-skill-tags-selection (tagsUpdated)="skillTagsUpdated($event)" [initialTags]="user.skillTags"
                [minimumTags]="0"></app-skill-tags-selection>
              <input hidden #skillTags class="form-control" formControlName="skillTags" type="text" name="skillTags">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-6 col-md-6 col-sm-8">
              <label>Work email *</label>
              <input class="form-control" #work formControlName="work" type="email" name="work" placeholder="Work email"
                [class.invalid]="!profileForm.controls.work.valid && profileForm.controls.work.dirty">
              <small *ngIf="!profileForm.controls.work.valid  && profileForm.controls.work.dirty">Please enter a valid
                email.</small>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-6 col-md-6 col-sm-8">
              <label>Hourly Rate ( $USD )</label>
              <input class="form-control" #hourlyRate formControlName="hourlyRate" type="text" name="hourlyRate"
                placeholder="e.g. 19" [class.invalid]="!profileForm.controls.hourlyRate.valid && profileForm.controls.hourlyRate.dirty">
              <small *ngIf="!profileForm.controls.hourlyRate.valid  && profileForm.controls.hourlyRate.dirty">Please
                enter
                a number between 0 - 999</small>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-6 col-md-6 col-sm-8">
              <label>City </label>
              <input disabled class="form-control" #timezone formControlName="timezone" type="text" name="timezone">
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-canya-gradient next-button" [disabled]="!profileForm.controls.category.valid || !profileForm.controls.work.valid || !profileForm.controls.skillTags.valid || !profileForm.controls.ethAddress.valid"
            (click)="nextStep()">NEXT</button>
        </div>

        <div *ngIf="currentStep.name == 'yourProfile'">
          <div class="form-group row">
            <div class="col-lg-6 col-md-6 col-sm-8">
              <label>First name *</label>
              <input class="form-control" #firstName formControlName="firstName" type="text" name="firstName"
                placeholder="First name" maxlength="18" [class.invalid]="!profileForm.controls.firstName.valid && profileForm.controls.firstName.dirty">
              <small *ngIf="!profileForm.controls.firstName.valid  && profileForm.controls.firstName.dirty">Please
                enter
                a valid first name.</small>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8">
              <label>Last name *</label>
              <input class="form-control" #lastName formControlName="lastName" type="text" name="lastName" placeholder="Last Name"
                maxlength="18" [class.invalid]="!profileForm.controls.lastName.valid && profileForm.controls.lastName.dirty">
              <small *ngIf="!profileForm.controls.lastName.valid  && profileForm.controls.lastName.dirty">Please enter
                a
                valid last name.</small>
            </div>
          </div>
          <div class="form-group">
            <label>Profession *</label>
            <input class="form-control" #title formControlName="title" type="text" name="title" placeholder="Profession name"
              maxlength="36" [class.invalid]="!profileForm.controls.title.valid && profileForm.controls.title.dirty">

            <small *ngIf="!profileForm.controls.title.valid  && profileForm.controls.title.dirty">Please enter a valid
              profession
              for your profile.</small>
          </div>
          <div class="form-group">
            <label>Short Bio (60 chars) *</label>
            <input class="form-control" #bio formControlName="bio" type="text" name="bio" placeholder="Creative short bio"
              maxlength="60" [class.invalid]="!profileForm.controls.bio.valid && profileForm.controls.bio.dirty">
            <small *ngIf="!profileForm.controls.bio.valid  && profileForm.controls.bio.dirty">Please enter a valid bio
              for
              your profile. (20 words)</small>
          </div>
          <div class="form-group">
            <label>Color scheme (click to choose)</label>
            <p>
              <input class="form-control form-color" #color1 formControlName="color1" type="color" name="color1" size="3"
                placeholder="Color scheme" list="canya">
              <input class="form-control form-color" #color2 formControlName="color2" type="color" name="color2" size="3" placeholder="Color scheme" list="canya">
              <input class="form-control form-color" #color3 formControlName="color3" type="color" name="color3" size="3" placeholder="Color scheme" list="canya">
            </p>
            <datalist id="canya">
              <option>#00FFCC</option>
              <option>#33ccff</option>
              <option>#15EDD8</option>
              <option>#4EDCCA</option>
              <option>#FF6666</option>
              <option>#0078BF</option>
              <option>#FFC600</option>
              <option>#F9A4D8</option>
              <option>#485F64</option>
            </datalist>
          </div>

          <div class="form-group">
            <label>Tell us about what you do and your experience</label>
            <textarea class="form-control" #description formControlName="description" name="description" rows="5"
              placeholder="Better your chances of finding new clients by telling us - What you offer - How many years experience you have - What your qualifications are"></textarea>
          </div>

          <div class="form-group">
            <app-terms [form]="profileForm"></app-terms>
          </div>


          <button type="button" class="btn btn-primary btn-canya-gradient next-button" [disabled]="!profileForm.controls.firstName.valid || !profileForm.controls.lastName.valid || !profileForm.controls.title.valid || !profileForm.controls.bio.valid || !profileForm.controls.terms.valid || sending" 
            (click)="submitForm()">NEXT</button>
        </div>

        <div *ngIf="currentStep.name == 'complete'" class="text-center">
          <p class="text-gray">
            Your provider profile is now complete.
            <br />
            <br />Your application to become a provider must now be approved by the CanYa DAO, submit your application
            below!
          </p>

          <button type="button" [disabled]="sending" class="btn btn-primary" (click)="proceed()">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>