.share-link {
  position: absolute;
  right: 0px;
  font-weight: 500;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.link-col {
  border-radius: 5px;
  border: 0.5px solid #dee2e6;
  font-size: 9px;
}

.link-col p {
  padding: 7.5px;
  margin: 0;
}

#copied {
  display: none;
}

.input-group-append {
  padding: 5px 10px;
  border: 1px solid #ebebeb;
  background-color: #ebebeb;
  border-radius: 0px 5px 5px 0;
}

.fadeInShort {
  opacity: 0;
  animation: fadeIn ease-in;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
