.provider-type-card {
  padding: 10px 5px 5px 5px;
  border-radius: 5px;
  background-color: white;
  margin-top: 10px;
  width: 175px;
  transition: all 0.5s;
}

#how-it-works img {
  max-height: 200px;
  padding: 15px;
}

#how-it-works h5 {
  min-height: 64px;
}

@media screen and (max-width: 1024px) {
  .provider-type-card {
    width: auto;
  }
}

.provider-type {
  font-weight: 500;
  font-size: 14px;
}

.provider-type-card img {
  height: 30px;
  width: 30px;
  margin-left: 35px;
  margin-top: 10px;
}

.provider-type-card:hover {
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.provider-type-col {
  padding: 0 5px 0 5px;
}

#landing-top {
  background-color: transparent !important;
}

.icon-img {
  width: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 10px;
}

.section-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2.3px;
  transition: all 0.5s;
}

.see-all {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0px;
  transition: all 0.5s;
  color: #0078bf;
}

.section-title:hover,
.see-all:hover {
  color: #33ccff;
}

.provider-type-row {
  justify-content: center;
}

@media screen and (max-width:768px) {
  #how-it-works h5 {
    min-height: 0px;
  }
}

@media screen and (max-width:320px) {

  .provider-type-card img {
    margin-left: 24px;
    height: 25px;
  }

  .provider-type {
    font-size: 12px;
    margin-bottom: 0;
  }

  .section-title {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2.3px;
  }

}
