<div class="row my-0 py-0">

  <div class="col-12 col-md-6 col-xl-4 feature-1">
    <p class="feature-icon">
      <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank">
        <img src="assets/img/metamask.png" width="auto" height="64px" alt="Install MetaMask">
      </a>
    </p>
    <p class="fs-60 fw-900 opacity-10">1</p>
    <h5>Install MetaMask on a desktop browser like&nbsp;
      <img src="assets/img/chrome.svg" width="18px" height="18px" style="margin-top: -3px;">&nbsp;
      <span class="fw-500">Chrome</span>.</h5>
  </div>

  <div class="col-12 col-md-6 col-xl-4 feature-1">
    <p class="feature-icon">
      <img src="assets/img/metamask-action.png" width="auto" height="64px" alt="MetaMask Wallet">
    </p>
    <p class="fs-60 fw-900 opacity-10">2</p>
    <h5>Open
      <img src="assets/img/metamask-icon.png" width="18px" height="18px" style="margin-top: -3px;">&nbsp;MetaMask and create your Ethereum address where you'll deposit your ETH or CAN.</h5>
    <p class="text-muted"></p>
  </div>

  <div class="col-12 col-md-6 col-xl-4 feature-1">
    <p class="feature-icon">
      <img src="assets/img/metamask-pay.png" width="auto" height="64px" alt="MetaMask Wallet">
    </p>
    <p class="fs-60 fw-900 opacity-10">3</p>
    <h5>Unlock your MetaMask Wallet (if needed) and reload the page.</h5>
    <p class="text-muted"></p>
  </div>

</div>
